/*ecran pc ou grande tablette allant jusqu'à 1200px de largeur*/
@media only screen and (max-width:1200px){
    .bible-text-box{
        width: 100%;
        padding: 0 2%;
    }
    
    .row{
        padding: 0 2%;
        margin: 0 auto 0 auto;
    }
}


/*ecran tablette ou petit pc entre 768px et 1024px de largeur*/
@media only screen and (max-width:1024px){
    .section1-paragraph1{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
   
    .step-box{
        margin-top: 10px;
    }
    
    .step-box:last-child{
        margin-top: 60px;
    }
    .form-step{
        margin-bottom: 40px;
    }
    .form-step:last-of-type{
        margin-bottom: 60px;
    }
    .bible-open{
        width: 50%;
    }
    .icon-small{
        width: 15px;
        margin-right: 5px;
    }
    .res-feature{
        font-size: 60%;
    }
    h3{
        font-size: 80%;
    }
    
    .plan-box{
        width: 100%;
        margin-left: 0;
    }
    
    /*.section-form{
        width: 90%;
    }*/
    
    .footer-nav{
        width: 130%;
        font-size: 70%;
    }
    
    .social-links{
        font-size: 70%;
    }
}

/*ecran téléphone et petite tablette 481px à 767px*/
@media only screen and (max-width:767px){
    
}

/*très petits ecrans et très petits téléphones 0 à 480*/
@media only screen and (max-width:480px){
    
}