*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #FFF;
    color: #555;
    /*première font est Lato et si non disponible Arial et sinon n'importe quel sans-serif fera l'affaire*/
    font-family: 'Lato','Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility; /*lecture facile*/
}

/*les contenus seront organisés en rangés qu'on appelera row*/
.row{
    max-width: 1140px; /*Largeur max en valeur absolue px*/
    /*on veut centrer le contenu du row
    /*pour centrer un conteneur dans un autre conteneur, on met margin-left=auto et margin-right=auto*/
    margin: 0 auto 0 auto; /*top right bottom left*/
}

header{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/bible.png);
    background-size: cover;  /*affiche l'image sur toute sa largeur*/
    background-position: center;
    height: 100vh;
}
.bible-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    margin: 0; /*permet d'enlever l'espace en dessus du header à cause de normalize.css*/
    color: #FFF;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    word-spacing: 3px;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none; /*pour enlever les décorations*/
}
.btn-full{
    background-color: #e67e22;
}